
<div class="values-grid page-width">
</div>

{% schema %}
{
  "name": "t:sections.values_grid.name",
  "class": "section",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "left_grid",
      "name": "t:sections.values_grid.blocks.left_grid.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text_top",
          "default": "<p>Pair text with an image to focus on your history.</p>",
          "label": "t:sections.values_grid.blocks.text_box.settings.text.label"
        },
        {
          "type": "image_picker",
          "id": "image_top",
          "label": "t:sections.values_grid.blocks.image_box.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_bottom",
          "label": "t:sections.values_grid.blocks.image_box.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "text_bottom",
          "default": "<p>Pair text with an image to focus on your history.</p>",
          "label": "t:sections.values_grid.blocks.text_box.settings.text.label"
        }
      ]
    },
    {
      "type": "center_image",
      "name": "t:sections.values_grid.blocks.image_box.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "center_image",
          "label": "t:sections.values_grid.blocks.image_box.settings.image.label"
        }
      ]
    },
    {
      "type": "right_grid",
      "name": "t:sections.values_grid.blocks.right_grid.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text_top",
          "default": "<p>Pair text with an image to focus on your history.</p>",
          "label": "t:sections.values_grid.blocks.text_box.settings.text.label"
        },
        {
          "type": "image_picker",
          "id": "image_top",
          "label": "t:sections.values_grid.blocks.image_box.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_bottom",
          "label": "t:sections.values_grid.blocks.image_box.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "text_bottom",
          "default": "<p>Pair text with an image to focus on your history.</p>",
          "label": "t:sections.values_grid.blocks.text_box.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.values_grid.presets.name",
      "blocks": [
        {
          "type": "left_grid"
        },
        {
          "type": "image_box"
        },
        {
          "type": "right_grid"
        }
      ]
    }
  ]
}
{% endschema %}
