$page-width: 85vw;
$page-side-padding: calc( (100vw - #{$page-width}) / 2);
.page-width {
    width: 100vw;
    padding-left: $page-side-padding;
    padding-right: $page-side-padding;
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    &__item {
        width: calc(25% - 0.5rem * 3 / 4);
        max-width: 50%;
        flex-grow: 1;
        flex-shrink: 0;
    }
    &--1-col .grid__item {
        max-width: 100%;
        width: 100%;
    }
}