$page-width: 85vw;

.page-width {
    width: 100vw;
    padding-left: calc( (100vw - #{$page-width}) / 2);
    padding-right: calc( (100vw - #{$page-width}) / 2);
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-left: calc(-1 * var(--grid-mobile-horizontal-spacing));
    padding: 0;
    list-style: none;
    &__item {
        padding-left: var(--grid-mobile-horizontal-spacing);
        padding-bottom: var(--grid-mobile-vertical-spacing);
        width: calc(25% - 0.5rem * 3 / 4);
        max-width: 50%;
        flex-grow: 1;
        flex-shrink: 0;
    }
}