.twocolumns {
    display: grid;
    padding-top: 120px;
    padding-bottom: 120px;
    grid-auto-rows: 1fr;
    grid-template-columns: 1.7fr 1fr;
    column-gap: 2.5%;
    .column {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        &:nth-child(even) {
            background: $grey-box;
            padding: 0 25px;
            p {
                line-height: 24px;
            }
        }
        &:nth-child(n+3) {
            margin-top: 45px;
        }
        &:nth-child(3) {
            order: 4;
            width: 140%;
            margin-left: -40%;
        }
        &:nth-child(4) {
            width: 70%;
        }
        .media > img {
            object-position: top right;
        }
    }
}